.jumbotron1{
	margin-top: 0; 
	margin-bottom: 50px; 
	text-align: center; 
	background-image: url(../images/bg2.jpg);
	color: white;
	background-size: cover;

}

.body{
	padding: 0;
}
.footer{
	text-align: center;
}

.glyphicon-camera{

		font-size: 200%; 
		color: black; 
		margin-left: 10px; 
		margin-top: 10px;"
}

.tituloalbum{

    margin-top: 45px;
    margin-bottom: 10px;
}

.loremjumbo{

    margin-top: 25px;
    margin-bottom: 30px;
}

.col-md-4{
		padding-top: 20px; 
		margin-top: 10px;

} 

.thumbnail{
		border: solid 10px #8080803d; 
		border-radius: 20px; 
		overflow: hidden;
		padding: 5px; 
		text-align: center
}

.footer{
	text-align: center
	
}

.panel1{

	 font-size: 120%; 
	 margin-left: 10px; 

}

.panel2{
	margin: 0;

}